#base.html

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Example</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>Message: {{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
{% block content %}{% endblock %}
</body>
</html>