<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Homepage </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
	<link rel="shortcut icon" type="image/x-icon" href="../static/assets/img/favicon.ico">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
<header>


	<!-- Header Start -->
    <div class="fixed-top">
        <div class="navbar-white bg-white">
            <div class="header-area header-sticky">
                <div class="main-header ">
                    <div class="container">
                        <div class="row align-items-center">
                            <!-- logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                <a href="/"><img src="../static/assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                        <div class="col-xl-8 col-lg-8">
                                <!-- main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                                                                                                                                                        
                                            <li><a href="/">Home</a></li>
                                            <li><a href="/bungalows">Bungalows</a></li>
                                            <li><a href="#contact">Contact</a></li>
                                            {% if not current_user.is_authenticated %}
                                            <li><a href="/login">Login</a></li>
                                            <li><a href="/register">Registreren</a></li>
                                            {% endif %}
                                            {% if current_user.is_authenticated %}
                                            <li><a href="/boekingen">Mijn boekingen</a></li>
                                            <li><a href="/logout">Uitloggen</a></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>             
                            <div class="col-xl-2 col-lg-2">
                                <!-- header-btn -->
                                <div class="header-btn">
                                    <a href="/bungalows" class="btn btn1 d-none d-lg-block ">Boek Online</a>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% block content %}



{% endblock %}

<!-- Footer Start-->
<div id= "contact" class="footer-area black-bg footer-padding">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
               <div class="single-footer-caption mb-30">
                  <!-- logo -->
                  <div class="footer-logo">
                    <a href="/"><img src="../static/assets/img/logo/logo2.png" alt=""></a>
                  </div>
                 
                  <div class="footer-pera">
                       <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Dit webtech project is gemaakt door <a href="https://colorlib.com" target="_blank">Sander & Meelien</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                  </div>
               </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5">
                <div class="single-footer-caption mb-30">
                    <div class="footer-tittle">
                        <h4>Snelle Links</h4>
                        <ul>
                            <li><a href="/rooms">Onze Bungalows</a></li>
                            <li><a href="/login">Inloggen</a></li>
                            <li><a href="/register">Registreren</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                <div class="single-footer-caption mb-30">
                    <div class="footer-tittle">
                        <h4>Reservaties</h4>
                        <ul>
                            <li><a href="https://web.whatsapp.com/">Tel: 31+ 6 12345678</a></li>
                            <li><a href="outlook.office.com">reservaties@ZeeDuin.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4  col-sm-5">
                <div class="single-footer-caption mb-30">
                    <div class="footer-tittle">
                        <h4>Onze Locatie</h4>
                        <ul>
                            <li><a href="https://goo.gl/maps/4o4eazKUDx2Xw54S6">Campingweg 1,</a></li>
                            <li><a href="https://goo.gl/maps/ZzdzSdYAud5MXzWb9">2221 EW Katwijk aan Zee</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End-->
</footer>

</body>