{% extends "base.html" %}
{% block content %}
    <title>Bungalow</title>
		<!-- CSS here -->
        <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../static/assets/css/gijgo.css">
        <link rel="stylesheet" href="../static/assets/css/slicknav.css">
        <link rel="stylesheet" href="../static/assets/css/animate.min.css">
        <link rel="stylesheet" href="../static/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="../static/assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="../static/assets/css/themify-icons.css">
        <link rel="stylesheet" href="../static/assets/css/themify-icons.css">
        <link rel="stylesheet" href="../static/assets/css/slick.css">
        <link rel="stylesheet" href="../static/assets/css/nice-select.css">
        <link rel="stylesheet" href="../static/assets/css/style.css">
        <link rel="stylesheet" href="../static/assets/css/responsive.css">
   </head>

   <body>
       
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <strong>Boekingen</b>
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->


    <main>

        <!-- slider Area Start-->
        <div class="slider-area">
            <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="../static/assets/img/hero/aboutpage_hero.jpg" >
                <div class="container">
                    <div class="row ">
                        <div class="col-md-11 offset-xl-1 offset-lg-1 offset-md-1">
                            <div class="hero-caption">
                                <span>Boekingen</span>
                                <h2>Mijn Boekingen</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        


        <!-- Room Start -->
        <section class="room-area r-padding1">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8">
                        <!--font-back-tittle  -->
                        <div class="font-back-tittle mb-45">
                            <div class="archivment-front">
                                <h3>Mijn Boekingen</h3>
                            </div>
                            <h3 class="archivment-back">Mijn Boekingen</h3>
                        </div>
                    </div>
                </div>
                {% for boeking in boekingen %}
                <div class="card border-warning mb-3" style="max-width: full-screen;">
                    <div class="row no-gutters">
                      <div class="col-md-4 ">
                        {% if boeking.bungalow.id == 1 %}
                        <img src="../static/boekingcss/img/boeking4.jpg" class="float" alt="image4" height="309.25" width="389">
                        {% elif boeking.bungalow.id == 2 %}
                        <img src="../static/boekingcss/img/boeking6.jpg" class="float" alt="image4" height="309.25" width="389">
                        {% elif boeking.bungalow.id == 3 %}
                        <img src="../static/boekingcss/img/boeking8.jpg" class="float" alt="image4" height="309.25" width="389">
                        {% endif %}
                      </div>
                      <div class="col-md-8">
                        <div class="card-header "><h4><b>Boeking Nr.{{ boeking.id }}</b></h4>
                        </div>
                        <div class="card-body">
                            <div class="container">
                                <div class="mb-3 row ">          
                                    <label for="staticEmail" class="col-sm-2 col-form-label">Week</label>
                                    <div class="col-sm-10">
                                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ boeking.week }}">
                                    </div>
                                    <label for="staticEmail" class="col-sm-2 col-form-label">Type</label>
                                    <div class="col-sm-10">
                                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ boeking.bungalow.size }} persoons bungalow">
                                    </div>
                                    <label for="staticEmail" class="col-sm-2 col-form-label">Betaald</label>
                                    <div class="col-sm-10">
                                      <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="€{{ boeking.bungalow.price }}">
                                    </div>
                                </div> 
                                <br>


                                <div class="row">
                                    <div class="vr"></div>
                                    <div class="col-4">
                                        <div class="header-btn">
                                            <a.text-nowrap type="button" class="btn btn1 d-none d-lg-block" >Wijzigen</a>
                                        </div>
                                    </div>
                                    <div class="col-4">                                   
                                        <div class="header-btn">
                                        <li><a href="{{ url_for('auth.delete_pl', id=boeking.id) }}">Delete</a></li>
                                    </div>
                                    <div class="col-4">                                   
                                        <div class="header-btn">
                                            <a href="/bungalows" class="btn btn1 d-none d-lg-block ">Extra week</a>
                                        </div>
                                    </div>
                                </div>
 
                                    <!--<div class="form-btn">
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  
        </section>
        <!-- Room End -->
   
<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="../static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
		
		<!-- Jquery, Popper, Bootstrap -->
		<script src="../static/assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="../static/assets/js/popper.min.js"></script>
        <script src="../static/assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="../static/assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="../static/assets/js/owl.carousel.min.js"></script>
        <script src="../static/assets/js/slick.min.js"></script>
        <!-- Date Picker -->
        <script src="../static/assets/js/gijgo.min.js"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="../static/assets/js/wow.min.js"></script>
		<script src="../static/assets/js/animated.headline.js"></script>
		
		<!-- Scrollup, nice-select, sticky -->
        <script src="../static/assets/js/jquery.scrollUp.min.js"></script>
        <script src="../static/assets/js/jquery.nice-select.min.js"></script>
		<script src="../static/assets/js/jquery.sticky.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

        <!-- contact js -->
        <script src="../static/assets/js/contact.js"></script>
        <script src="../static/assets/js/jquery.form.js"></script>
        <script src="../static/assets/js/jquery.validate.min.js"></script>
        <script src="../static/assets/js/mail-script.js"></script>
        <script src="../static/assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="../static/assets/js/plugins.js"></script>
        <script src="../static/assets/js/main.js"></script>
        
    </body>
{% endblock %}
</html>