{% extends "base.html" %}
{% block title %}Bungalows{% endblock %}
{% block content %}
    <title>Bungalow</title>
		<!-- CSS here -->
        <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../static/assets/css/gijgo.css">
        <link rel="stylesheet" href="../static/assets/css/slicknav.css">
        <link rel="stylesheet" href="../static/assets/css/animate.min.css">
        <link rel="stylesheet" href="../static/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="../static/assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="../static/assets/css/themify-icons.css">
        <link rel="stylesheet" href="../static/assets/css/themify-icons.css">
        <link rel="stylesheet" href="../static/assets/css/slick.css">
        <link rel="stylesheet" href="../static/assets/css/nice-select.css">
        <link rel="stylesheet" href="../static/assets/css/style.css">
        <link rel="stylesheet" href="../static/assets/css/responsive.css">
   </head>

   <body>
       
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <strong>Bungalow</b>
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->


    <main>

        <!-- slider Area Start-->
        <div class="slider-area">
            <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/roomspage_hero.jpg" >
                <div class="container">
                    <div class="row ">
                        <div class="col-md-11 offset-xl-1 offset-lg-1 offset-md-1">
                            <div class="hero-caption">
                                <span>Bungalows</span>
                                <h2>Onze Bungalows</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <!-- Room Start -->
        <section class="room-area r-padding1">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8">
                        <!--font-back-tittle  -->
                        <div class="font-back-tittle mb-45">
                            <div class="archivment-front">
                                <h3>Onze Bungalows</h3>
                            </div>
                            <h3 class="archivment-back">Onze Bungalows</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!-- Single Room -->
                        <div class="single-room mb-50">
                            <div class="room-img">
                               <a href="/bungalow/1"><img src="../static/assets/img/rooms/room1.jpg" alt=""></a>
                            </div>
                            <div class="room-caption">
                                <h3><a href="/bungalow/1">Vier Persoons Bungalow</a></h3>
                                <div class="per-night">
                                    <span><u>€</u>200 <span>/ Per Week</span></span>
                                </div>
                                <div class="per-night">
                                    <span>4 <span> Personen</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!-- Single Room -->
                        <div class="single-room mb-50">
                            <div class="room-img">
                               <a href="/bungalow/2"><img src="../static/assets/img/rooms/room2.jpg" alt=""></a>
                            </div>
                            <div class="room-caption">
                                <h3><a href="/bungalow/2">Zes Persoons Bungalow</a></h3>
                                <div class="per-night">
                                    <span><u>€</u>400 <span>/ Per Week</span></span>
                                </div>
                                <div class="per-night">
                                    <span>6 <span> Personen</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!-- Single Room -->
                        <div class="single-room mb-50">
                            <div class="room-img">
                               <a href="/bungalow/3"> <img src="../static/assets/img/rooms/room3.jpg" alt=""></a>
                            </div>
                            <div class="room-caption">
                                <h3><a href="/bungalow/3">Acht Persoons Bungalow</a></h3>
                                <div class="per-night">
                                    <span><u>€</u>600 <span>/ Per Week</span></span>
                                </div>
                                <div class="per-night">
                                    <span>8 <span> Personen</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Room End -->

        <!-- Gallery img Start-->
        <div class="gallery-area fix">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="gallery-active owl-carousel">
                            <div class="gallery-img">
                                <a href="/boeking4"><img src="../static/assets/img/gallery/gallery1.jpg" alt=""></a>
                            </div>
                            <div class="gallery-img">
                                <a href="/boeking6"><img src="../static/assets/img/gallery/gallery2.jpg" alt=""></a>
                            </div>
                            <div class="gallery-img">
                                <a href="/boeking8"><img src="../static/assets/img/gallery/gallery3.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery img End-->
    </main>


   
<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="../static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
		
		<!-- Jquery, Popper, Bootstrap -->
		<script src="../static/assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="../static/assets/js/popper.min.js"></script>
        <script src="../static/assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="../static/assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="../static/assets/js/owl.carousel.min.js"></script>
        <script src="../static/assets/js/slick.min.js"></script>
        <!-- Date Picker -->
        <script src="../static/assets/js/gijgo.min.js"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="../static/assets/js/wow.min.js"></script>
		<script src="../static/assets/js/animated.headline.js"></script>
		
		<!-- Scrollup, nice-select, sticky -->
        <script src="../static/assets/js/jquery.scrollUp.min.js"></script>
        <script src="../static/assets/js/jquery.nice-select.min.js"></script>
		<script src="../static/assets/js/jquery.sticky.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

        <!-- contact js -->
        <script src="../static/assets/js/contact.js"></script>
        <script src="../static/assets/js/jquery.form.js"></script>
        <script src="../static/assets/js/jquery.validate.min.js"></script>
        <script src="../static/assets/js/mail-script.js"></script>
        <script src="../static/assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="../static/assets/js/plugins.js"></script>
        <script src="../static/assets/js/main.js"></script>
        
    </body>
{% endblock %}
</html>